@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: #2d2d2d;
}

.nav {
  padding: 5px 50px;
  margin: 20px 0;
  display: flex;
  justify-content: space-between;
  font-family: "Epilogue", sans-serif;
  position: sticky;
  top: 0;
  background: white;
}
.nav__burger-menu {
  cursor: pointer;
  z-index: 99;
}
.nav__menu {
  position: fixed;
  background: rgba(255, 255, 255, 0.9);
  top: 0;
  left: -100%;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  font-size: 17px;
}

.work {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 50px 30px 60px;
  font-family: "Epilogue", sans-serif;
}
.work__header-niche {
  order: -1;
  font-size: 20px;
  margin-bottom: 24px;
  font-weight: 600;
}
.work__header-title {
  font-size: 65px;
  margin-bottom: 20px;
  font-weight: 600;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.work__header-text {
  font-size: 17px;
  margin-bottom: 60px;
  font-weight: 400;
  line-height: 27px;
}
.work__header-img {
  width: 100%;
}
.work__brands {
  display: flex;
  flex-direction: column;
  gap: 60px;
  padding: 60px 0;
  border: solid rgba(0, 0, 0, 0.2);
  border-width: 2px 0;
}
.work__brands-row {
  display: flex;
  gap: 65px;
  justify-content: center;
}
.work__brands-img {
  max-height: 34px;
}
.work__skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 150px 0;
  gap: 125px;
}
.work__skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 250px;
  font-family: "Epilogue", sans-serif;
}
.work__skill-img {
  max-width: 130px;
  margin-bottom: 56px;
}
.work__skill-title {
  font-size: 27px;
  font-weight: 600;
  margin-bottom: 19px;
}
.work__skill-text {
  font-size: 17px;
  font-weight: 400;
  text-align: center;
  line-height: 27px;
}
.work__latest-works {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 30px;
  font-family: "Epilogue", sans-serif;
}
.work__latest-works__title {
  margin-bottom: 60px;
  font-size: 32px;
  font-weight: 600;
}
.work__latest-works__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.work__latest-work {
  display: flex;
  flex-direction: column;
}
.work__latest-work-img {
  align-self: center;
  margin-bottom: 25px;
}
.work__latest-work-title {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 20px;
}
.work__latest-work-text {
  font-size: 17px;
  font-weight: 400;
}
.work__clients {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Epilogue", sans-serif;
  padding: 60px 30px 90px;
}
.work__clients__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}
.work__clients__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.work__client {
  display: flex;
  flex-direction: column;
  padding: 30px;
  gap: 80px;
  border: solid 1.5px #ffd285;
  background: #fffcf5;
}
.work__client-comment {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.work__client-info {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}
.work__client-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.work__client-stars {
  display: flex;
  gap: 5px;
}
.work__client-name, .work__client-corp {
  font-size: 17px;
  font-weight: 400;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 70px 0;
  margin: 0 30px;
  font-family: "Epilogue", sans-serif;
  gap: 80px;
  border-top: solid 2px rgba(0, 0, 0, 0.2);
}
.contact__info {
  display: flex;
  flex-direction: column;
}
.contact__title {
  font-size: 32px;
  font-weight: 600;
  margin-bottom: 40px;
}
.contact__text {
  font-size: 17px;
  font-weight: 400;
  margin-bottom: 60px;
  line-height: 27px;
}
.contact__icons {
  display: flex;
  gap: 13px;
}
.contact__form {
  display: flex;
  flex-direction: column;
}
.contact__form-name, .contact__form-email, .contact__form-msg {
  background: #f3f3f3;
  padding: 21px 30px;
  border: none;
  margin-bottom: 20px;
}
.contact__form-msg {
  min-height: 230px;
  margin-bottom: 40px;
  resize: vertical;
}
.contact__form-btn {
  padding: 25px 82px;
  width: -moz-fit-content;
  width: fit-content;
  background: #2d2d2d;
  color: white;
  font-size: 20px;
  font-weight: 600;
}

.about {
  display: flex;
  flex-direction: column;
}
.about__header {
  background: #f9e6f0;
  padding: 120px 30px;
  display: flex;
  flex-direction: column;
  font-family: "Epilogue", sans-serif;
}
.about__header-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 78px;
  max-width: 195px;
}
.about__header-img {
  border: solid 1.5px #2d2d2d;
  margin-bottom: 20px;
}
.about__header-name {
  font-size: 17px;
  line-height: 27px;
}
.about__header-niche {
  font-size: 17px;
  line-height: 27px;
  font-weight: 400;
}
.about__header b {
  font-size: 17px;
  line-height: 27px;
}
.about__header-text {
  font-size: 17px;
  line-height: 27px;
}
.about__my-story {
  display: flex;
  flex-direction: column;
  padding: 120px 30px;
  font-family: "Epilogue", sans-serif;
}
.about__my-story-intro {
  font-size: 24px;
  line-height: 36px;
  font-weight: 500;
  margin-bottom: 60px;
}
.about__my-story-highlight {
  font-size: 16px;
  line-height: 26px;
  background: #009379;
  color: #f6dce9;
  font-weight: 600;
  padding: 5px 0;
}
.about__my-story-text {
  font-size: 16px;
  line-height: 26px;
  padding: 5px 0;
  font-weight: 400;
}

@media screen and (min-width: 768px) {
  .nav__burger-menu {
    display: none;
  }
  .nav__menu {
    position: static;
    flex-direction: row;
    height: auto;
    justify-content: flex-end;
  }
}/*# sourceMappingURL=main.css.map */