.about {
  display: flex;
  flex-direction: column;

  &__header {
    background: #f9e6f0;
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    font-family: "Epilogue", sans-serif;

    &-info {
      display: flex;
      flex-direction: column;
      margin-bottom: 78px;
      max-width: 195px;
    }

    &-img {
      border: solid 1.5px $color-primary;
      margin-bottom: 20px;
    }

    &-name {
      font-size: 17px;
      line-height: 27px;
    }

    &-niche {
      font-size: 17px;
      line-height: 27px;
      font-weight: 400;
    }

    b {
      font-size: 17px;
      line-height: 27px;
    }

    &-text {
      font-size: 17px;
      line-height: 27px;
    }
  }

  &__my-story {
    display: flex;
    flex-direction: column;
    padding: 120px 30px;
    font-family: "Epilogue", sans-serif;

    &-intro {
      font-size: 24px;
      line-height: 36px;
      font-weight: 500;
      margin-bottom: 60px;
    }

    &-highlight {
      font-size: 16px;
      line-height: 26px;
      background: #009379;
      color: #f6dce9;
      font-weight: 600;
      padding: 5px 0;
    }
    
    &-text {
      font-size: 16px;
      line-height: 26px;
      padding: 5px 0;
      font-weight: 400;
    }
  }
}
