@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;600&display=swap');

$color-primary: #2d2d2d;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  color: $color-primary;
}


@mixin media-md {
  @media screen and (min-width: 768px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1024px) {
    @content;
  }
}